body {

  margin: 0;
  padding: 0;

}
.slider{
  width: 100%;
  height: 100vh;

  .items-group{
    width: 100%;
    height: 100%;
    position: relative;

    .item{
      top: 0px;
      left: 0px;
      opacity: 0;
      width: 100%;
      height: 100%;
      display: flex;
      overflow: hidden;
      transition: 0.5s;
      visibility: hidden;
      position: relative;
      padding: 50px 20px;
      position: absolute;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;

      &:hover{

        .bg{
          opacity: 0.2;
        }

        .block{
          box-shadow: 0px 0px 50px #333;
        }
      }

      &.active{
        opacity: 1;
        visibility: visible;
        flex-direction: column;
      }

      .bg{
        top: 0px;
        left: 0px;
        opacity: 1;
        z-index: -1;
        width: 100%;
        height: 100%;
        transition: 0.5s;
        position: absolute;
        transform: scale(1.03);
        background-size: cover;
        background-position: inherit;
        background-attachment: fixed;
      }

      .blur{
        top: 0px;
        left: 0px;
        z-index: -1;
        width: 100%;
        height: 100%;
        transition: 0.5s;
        filter: blur(5px);
        position: absolute;
        transform: scale(1.03);
        background-size: cover;
        background-position: inherit;
        background-attachment: fixed;
      }

      .block{
        width: 100%;
        height: 100%;
        padding: 20px;
        color: #ffffff;
        transition:box-shadow 0.5s;
        max-width: 550px;
        overflow: hidden;
        max-height: 500px;
        border-radius: 10px;
        transform: scale(1.03);
        box-sizing: border-box;
        background-size: cover;
        background-position: inherit;
        background-attachment: fixed;
        box-shadow: none;
        border: 10px double white;
        .circleLight{
          top: 0px;
          left: 0px;
          opacity: 0;
          content: '';
          width: 100%;
          height: 100%;
          display: block;
          transition: 0.5s;
          position: absolute;
          border-radius: 10px;
          background: radial-gradient(circle at 80px 40px, #fff, transparent);
        }

        .text{
          width: 100%;
          height: 100%;
          display: flex;
          text-align: center;
          flex-direction: column;
          justify-content: center;
          background-position: center;
          background-attachment: fixed;
        }

        h2{
          font-family: 'Oswald', sans-serif;
          font-size: 130px;
          margin-bottom: 0px;
          margin-top: 0;
        }

         h3{
          font-family: 'Oswald', sans-serif;
          font-size: 45px;
          margin-bottom: 0px;
          margin-top: 0;
        }

        p{
          font-family: 'Open Sans', sans-serif;
          font-size: 25px;
          margin-bottom: 0;

          a{
            color:white;
            text-decoration: none;
          }
        }

        &:hover{
          box-shadow: 0px 0px 70px #111;

          .circleLight{
            opacity: 0.4;
          }
        }
      }
    }
  }

  .navigations{
    bottom: 0px;
    width: 100%;
    position: absolute;

    .dots{
      height: 20px;
      padding: 10px 0px;
      text-align: center;

      li{
        width: 10px;
        height: 10px;
        cursor: pointer;
        transition: 0.3s;
        background: #fff;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;

        &+li{
          margin-left: 10px;
        }

        &:hover{
          filter: blur(2px);
        }

        &.active{
          width: 15px;
          height: 15px;

          &:hover{
            filter: blur(0px);
          }
        }
      }
    }
  }
}

.cnt{
  text-align: center;
  h2{
    color: #fff;
    font-size: 38px;
  }
  strong{
    font-size: 28px;
    color: #fff;
  }
  a{
    color: #fff;
    font-size: 26px;
    text-decoration: none;
  }

}

@media only screen and (max-width: 600px){
  .slider {
    .items-group{
      .item {
        .block{
          width: 340px;
          height: 800px;
          h2{
            font-size: 80px;
          }
          p{
            font-size: 1.6rem;
          }
        }
      }
    }
  }
  .cnt{
    strong{
      font-size: 1.6rem;
    }
    a{
      font-size: 1.4rem;
      word-break: break-all;
      word-wrap: break-word;
    }
    p{
      display: flex;
      flex-direction: column;
    }
  }

}